[submodule "ArduinoCore-avr"]
	path = ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr
[submodule "ArduinoCore-sam"]
	path = ArduinoCore-sam
	url = https://github.com/arduino/ArduinoCore-sam
